.sign{
  margin-top: 3rem;
  margin-bottom: 7rem;
  display: flex;
  justify-content: center;


}
.signBox>h1{
  text-align: center;
  font-size: 3rem;
  color: #0B2F8A;
  font-weight: bolder;
}
.signBox{
  display: flex;
  flex-direction: column;
  width: 80rem;
  background-color: #F6F6F6;
  align-items: center;
}
.signform{
  display: flex;
  width: 80%;
  flex-direction: column;
  background-color: #F6F6F6;
  margin-bottom: 5rem;
}
.signform>label{
  margin: .5rem;
  font-size: 1.8rem;

  color: #9394b5cc;

}
.signform>input{
  color: #0B2F8A;
  font-size: 2rem;
  border-top:0;
  background-color: #F6F6F6;
  width: 100%;
  height: 3rem;
  border-left: 0;
  border-right: 0;
  margin: 20px 0;
}