button {
  position: absolute;
  right: 0;
  font-size: 3.9rem;
  color: #DFF6FF;
  height: 3rem;
  background-color: #47B5FF;
  border: 0;
}
.headContainer{
  display: relative;
  border-radius: 0 0 1.2rem 1.2rem;
  background-color: #47B5FF;
  height: 7rem;
}
.logo{
  position: absolute;
  font-size: 3.9rem;
  color: #DFF6FF;
}
.signup{
color: #DFF6FF;
height: auto;
}
